@model StackOverflow.Models.Response

@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a response</h2>
<hr />
@using (Html.BeginForm())
{
    <label>Title</label>
    @Html.EditorFor(model => model.Title)

    <label>Response</label>
    @Html.EditorFor(model => model.Body)

    <label>Question</label>
    @Html.DropDownList("QuestionId");

    <input type="submit" value="Response" />
}
@Html.ActionLink("Back to question", "Details", "Questions")